html {
    background-color: #efeeee;
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: auto;
}

.social {
    display: flex;
    margin-top: 115px;
    margin-bottom: 115px;
    margin-right: 115px;

}

.social a {
    margin: 4px;
}

.routes {
    display: flex;
}

.routes img {
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 120px;
}

.routes a {
    padding: 100px;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black
}

.container {
    /* width: 100%; */
    display: flex;
    margin-left: 100px;
}

.content {
    float: left;
    
}

.content h1 {
    font-size: 100px;
}

.mainImg {
    /* float: right; */
    margin-right: 200px;
}