html {
    background-color: #efeeee;
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: auto;
}

.social {
    display: flex;
    margin-top: 115px;
    margin-bottom: 115px;
    margin-right: 115px;

}

.social a {
    margin: 4px;
}

.routes {
    display: flex;
}

.routes img {
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 120px;
}

.routes a {
    padding: 100px;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black
}

.container {
    display: flex;
    margin-left: 100px;
}

.content {
    float: left;

}

.content h1 {
    font-size: 100px;
}

.content p {
    font-size: 40px;
    color: #ffffff;
    text-align: left;
    width: 90%;
}

.content p span {
    background-color: black;
}

.images {
    margin-right: 200px;
}

.backgroundImg {
    border: dotted 10px #bfbfbf;
    border-radius: 50%;
    margin-left: 80px;
}

.mainImg {
    position: inherit;
    margin-top: -550px;

}

button {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    margin-right: 60px;
    color: #ffffff;
    background-color: black;
    border: black solid 1px;
    border-radius: 5%;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
}