html body {
    background-image: url("/static/images/backgroundImage.png");
    height: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgDots {
    width: 10%;
    height: 10%;
    opacity: 0.2;
}

.imgDots img {
    padding-top: 20px;
}

nav {
    display: flex;
    padding-bottom: 3%;
}

nav .navBtns{
    margin-left: 750px;
}

nav .logo{
    margin-top: -110px;
    margin-left: 50px;
    position: absolute;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    margin-left: 130px;
}

nav .navBtnsUnderline {
    position: absolute;
}

.mainContainer {
    display: flex;
}

.mainContent {
    float: right;
    color: #ffffff;
    margin-left: 56%;
}

h1 {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;

}

h2 {
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color: #ffffff;
    margin-top: -5.1%;
    margin-left: 3.5%;
}

p {
    width: 60%;
    text-align: center;
    margin-left: 1%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.joinNow {
    margin-left: 14%;
}

.bottomDots {
    width: 10%;
    height: 10%;
    opacity: 0.2;
    margin-left: 83.9%;
}

.bottomDotsSecond {
    margin-left: -51%;
}

.bottomDotsThird {
    margin-left: -104%;
}

.bottomDotsForth {
    margin-left: -155%;
}

.bottomDots img {
    padding-top: 20px;
    
}

footer {
    margin-top: 7%;
}

.footerContainer {
    display: flex;
    margin-bottom: -12%;
}

.socialMedia {
    float: left;
    margin-left: 1.5%;
    width: 50%;
}

.socialMedia img {
    padding-right: 2%;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.info {
    display: flex;
    float: right;
    width: 100%;
    margin-left: 15%;
}

.links {
    display: grid;

}

.phoneNumber {
    margin-left: 72%;
    color: #ffffff;
}