html {
    background-color: #eae8e8;
}

body {
    width: max-content;
}

nav {
    width: 70%;
    margin-top: 5rem;
    color: #505055;
    margin-left: 5em;
    margin-right: 19em;
}

a {
    text-align: center;
    margin-left: 10px;
    
}

a:link {
    margin-left: 6rem;
    text-decoration: none;
}

a:visited {
    color: #505055;
}

a:hover {
    font-weight: bold;
    color: #1e1e1e;
}

.btnContact {
    
    display: inline-block;
    font-weight: bold;
    font-family: black;
    margin-left: 38em;
}

.btnContact a {
    border: solid black;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    margin-top: 100px;
    display: flex;
    width: 100%;
}

.text {
    text-align: left;
    margin-top: -6em;
    margin-right: 70px;
    margin-left: 10em;
    float: left;
    width: 24%;

}

.text h1 {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6em;
}

.text p {
    font-size: 1.5em;
    margin-top: -2em;
}

.img {
    margin-right: 10em;
    float: right;
}

.btnReserve {
    color: #ebe8e8;
    background-color: #1e1e1e;
    font-weight: bold;
    font-family: black;
    font-size: large;
    border: solid #1e1e1e;
    border-radius: 5px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: bold;
}

.footer {
    background-color: #1e1e1e;
    display: block;
    color: white;
    text-align: center;
    margin-top: 5em;
    margin-right: 5%;
    margin-left: -15%;
}

.footer h1 {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
}

.footer p {
    font-size: 1em;
    margin-top: -2em;
}

.btnTravel {
    color: #ebe8e8;
    background-color: #1e1e1e;
    font-weight: bold;
    border: solid #ebe8e8;
    border-radius: 5px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: bold;
    margin-bottom: 3em;
    margin-top: 20px;
}

.footer div {
    display: inline-block;
    width: 20%;
}